
#layout-main {
    /*max-width: 600px;*/
}

#layout-right {
    color: black;
}

.dialogBot {
    text-align: right;
    color: blue;
}

.dialogUser {
    text-align: left;
    color: green;
}

.pointer {
    cursor: pointer;
}